.vscode/**
.vscode-test/**
out/**
src/**

images/demo1.gif

front-end/node_modules/**
front-end/src/**
front-end/*.json


.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
