<div style="margin-top: 10px;">
  <div class="col-md-12 row-item">
    <div class="input-group">
      <input id="search-input" [(ngModel)]="searchValue" type="text" class="form-control" placeholder="Search for..." aria-describedby="search-box-group">
      <div class="input-group-append" id="search-box-group">
        <button class="btn btn-primary" type="button" (click)="searchPackage()">Search</button>
        <div class="input-group-btn">
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="projectDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="#">
              <span class="item-select">Select a project(*)</span>
            </a>
            <div id="project-list" class="dropdown-menu" aria-labelledby="projectDropdown">
              <a *ngFor="let project of projects" class="dropdown-item" href="#" onclick="$('.item-select').text(this.innerHTML)
                                      .attr('project-id','1')
                                      .removeClass('text-danger');
                  ">{{project.projectName}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 row-item table-box">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 5px;" class="text-center">#</th>
          <th style="width: 100%;" class="text-center">Package Name</th>
          <th style="width: 40px;" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody id="search-result">
        <tr class="tr-package" *ngFor="let package of packages.data; let i = index">
          <td style="vertical-align: middle;">{{i+1}}</td>
          <td>
            <strong>{{package.id}}</strong>
            <strong style="float: right;">Total Downloads: {{ package.totalDownloads}}</strong>
            <p>
              {{package.description}}
            </p>
          </td>
          <td class="text-center">
            <select>
              <option *ngFor="let version of package.versions" [attr.value]="version.version">{{version.version}}</option>
            </select>
            <button style="margin-top: 5px;" type="button" onclick="install('')" class="btn btn-default-sm btn-sm">Install</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
