#loader-main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    opacity: 0.8;
    display: none;
    z-index: 100;
    text-align: center;
}

#loader-main > span {
    color: green;
    height: 120px;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    z-index: 1000;
}

body {
    padding: 0;
    margin: 0;
}

th,
td,
p,
input {
    font: 14px Verdana;
}

#project-container table,
#project-container th,
#project-container td {
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}

#project-container table,
#project-container th {
    border: solid 1px #0000008e;
}

td {
    border: solid 1px #ddd;
}

th {
    font-weight: bold;
    background-color: rgba(197, 197, 197, 0.521);
}

table {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

.btn-box {
    margin: 20px 0px;
    text-align: center;
}

.tr-package:nth-child(even) {
    background-color: #daecce77;
}

.tr-package:hover {
    background-color: #727272c5;
}

select {
    width: 100%;
}

.is-update {
    background-color: green;
}

.is-out-dated {
    background-color: indianred;
}

.is-unknown {
    background-color: rgb(167, 167, 167);
}

.info-box {
    text-align: center;
    margin-top: 20px;
}

.important-label {
    background-color: lightpink;
}

#project-container {
    margin-bottom: 40px;
    display: none;
}

.text-danger {
    color: #cc1a1ae7;
}
