/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#toast-container {
  z-index: 999999 !important;
}

.mat-tab-label-content {
  font-size: 15px !important;
}
