.mat-tab-body-content {
  height: auto !important;
  overflow: auto !important;
}

/* Styles for tab labels */
.mat-tab-label {
  background: #3f51b5 !important;
  opacity: 1 !important;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green !important;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100% !important;
}

::ng-deep .packageUrl[href=""],
::ng-deep .packageUrl[href="#"] {
  pointer-events: none;
  cursor: not-allowed;
}
