<link href="./css/bootstrap.min.css" rel="stylesheet" />
<link href="./css/main.css" rel="stylesheet" />
<script src="./js/main.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/popper.js"></script>
<script src="./js/bootstrap.min.js"></script>

<body>

  <div id="loading-main">
    <span id="loading-main-message"></span>
  </div>


  <div class="container" id="main-container">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a data-target="#project-container" href="#" title="Update / Remove Packages" class="nav-link" id="project-container-tab" data-toggle="tab">Update / Remove Packages</a>
      </li>
      <li class="nav-item">
        <a data-target="#installer-container" href="#" title="Install New Package" class="nav-link" id="installer-container-tab" data-toggle="tab">Install New Package</a>
      </li>
      <li class="nav-item">
        <a onclick="closeTab()" class="nav-link" href="#" title="Close">Close</a>
      </li>
    </ul>

    <div class="tab-content">
      <!-- Update / Remove Packages -->
      <div id="project-container" class="tab-pane container">
        <div class="row">
          <div class="btn-box col-md-12">
            <button class="btn btn-primary" onclick="reload(true)">Load Package Versions</button>
            <button class="btn btn-success" onclick="updateAllProjects()" style="margin-right: 3px;">Update All Packages</button>
          </div>
          <div id="project-container-tables">

          </div>
        </div>
      </div>
      <!-- Install New Package -->
      <div id="installer-container" class="tab-pane container">
        <div class="row">
          <div class="col-md-12 row-item">
            <div class="input-group">
              <input id="search-input" type="text" class="form-control" placeholder="Search for..." aria-describedby="search-box-group">
              <div class="input-group-append" id="search-box-group">
                <button class="btn btn-primary" type="button" onclick="searchPackage()">Search</button>
                <div class="input-group-btn">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="projectDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="item-select">Select a project(*)</span>
                    </a>
                    <div id="project-list" class="dropdown-menu" aria-labelledby="projectDropdown">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 row-item table-box">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 5px;" class="text-center">#</th>
                  <th style="width: 100%;" class="text-center">Package Name</th>
                  <th style="width: 40px;" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody id="search-result">
                <tr class='tr-package'>
                  <td colspan='3' class="text-center empty-table" style="vertical-align: middle;font-size:14px;">
                    Empty!
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="./js/command.js"></script>